<?xml version="1.0"?>
<config>
    <modules>
        <Flexishore_Cms>
            <version>0.1.0</version>
        </Flexishore_Cms>
    </modules>

    <global>

        <models>
            <flexishore_cms>
                <class>Flexishore_Cms_Model</class>
            </flexishore_cms>
        </models>
        
        <blocks>
            <flexishore_cms>
                <class>Flexishore_Cms_Block</class>
            </flexishore_cms>
            <adminhtml>
                <rewrite>
                    <cms_page_edit_form>Flexishore_Cms_Block_Adminhtml_Cms_Page_Edit_Form</cms_page_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>

        <resources>
            <flexishore_cms_setup>
                <setup>
                    <module>Flexishore_Cms</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flexishore_cms_setup>
            <flexishore_cms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flexishore_cms_write>
            <flexishore_cms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flexishore_cms_read>
        </resources>

    </global>

    <adminhtml>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <flexishore_cms_save_page>
                        <type>singleton</type>
                        <class>flexishore_cms/observer_cms</class>
                        <method>savePage</method>
                    </flexishore_cms_save_page>
                </observers>
            </cms_page_prepare_save>

            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <flexishore_cms_prepare_form>
                        <type>singleton</type>
                        <class>flexishore_cms/observer_cms</class>
                        <method>prepareForm</method>
                    </flexishore_cms_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <flexishore_cms>
                    <file>flexishore_cms.xml</file>
                </flexishore_cms>
            </updates>
        </layout>
    </frontend>
</config>
